.discover {
  background-image: url(../../../assets/recipes_pattern.jpg);
  background-color: #fff;
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0rem;
  margin: 1rem auto;
  filter: grayscale(0.4);
}

.discover:before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5));
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
